.menuMain{
    color: #666666;
    font-family: "Yu Mincho";
    min-width: 1010px;
    margin: auto;
    width: 100%;
    width: 898px;
}
.mainTitle-menu{
    font-size: 36px;
    padding-top: 98px;
    text-align: center;
    font-weight: normal;
}
.mainTitle-menujp{
    font-size: 24px;
    text-align: center;
    padding-bottom: 64px;
}
.mainSection-menu{
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
}
.menu_img{
    margin-right: 29px;
}
.menuCategory{
    width: 500px;
    font-size: 24px;
    font-style: normal;
    border-bottom: solid 1px #CCCCCC;
    padding-bottom: 5px;
    font-weight: normal;
}
.menuName{
    width: 500px;
}
.menuName td{
    font-size: 16px;
    padding-top: 23px;
}
.menuName td + td{
    text-align: right;
}
.mainSection-menu_reverse{
    flex-direction: row-reverse;    
}
.mainSection-menu_reverse .menu_img{
    margin-left: 29px;
    margin-right: 0px;
}
